:root {
    /* Font */
    --font-inter: Inter;
    --font-size-xs: 12px;
    --font-size-xl: 20px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-silver: #b9b9b9;
    --color-gray-100: rgba(0, 0, 0, 0.06);
    --color-gray-200: rgba(255, 255, 255, 0);
    --color-black: #000;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xs: 12px;

    /* Border radiuses */
  --br-3xs: 10px;
}

.returnButton {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgray;
  width: 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
  top: 20px;
  border-radius: 5px;
  border:1px solid darkgrey;
}

.returnButton:hover{
  border:1px solid black;  
  cursor: pointer;
  transform: scale(1.02);
 }

.mainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content{
  width: 90%;
  display: grid;
  grid-template: "delete table"
                 "uncatgorised table";
  grid-template-columns: fit-content(100px) 8fr;
  grid-template-rows: fit-content(100px) 1fr;
  grid-gap: 10px;
  max-height: calc(100vh - 250px);
}

.title {
  font-size: 2em;
  font-weight: 600;
  color: var(--color-black);
  margin-top: 40px;
  text-align: center;
}

.table {
  overflow-y: scroll;
  grid-area: table;
  border-radius: 15px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  width: 100%;
}

.row {
  flex-direction: row;
  display: flex;
  border: 1px solid var(--color-silver);
}
.tierCell {
    border-top: 1px solid var(--color-silver);
    border-left: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 10%;
    min-height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dropZone {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 80px);
  min-height: 100;
  width: 100%;
  padding: 10px;
}

.noTierZone {
  overflow-y: scroll;
  grid-area: uncatgorised;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  min-width: 100px;
  padding: 10px;
  height: calc(100vh - 400px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.draggableToy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0px;
}

.draggableToy img{
  border-radius: 10px;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.deleteSquare{
  background-color: darkred;
  grid-area: delete;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items:end;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
}

.openedTrashLogo{
  height: 92%;
  margin-left: -7px;
  margin-bottom: 10px;
  filter: invert(97%) sepia(92%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(101%);
}

.closedTrashLogo{
  height: 70%;
  margin-bottom: 10px;
  filter: invert(97%) sepia(92%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(101%);
}