:root {
    --main-color: #C3BDB1;
    --text-color: black;    
    --nav-bar-color: #C92F37;
    background-color: #F2F0EE;
}

* {
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 8%;    
    
    background: var(--nav-bar-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

header a, header button {
    font-weight: 500;
    font-size:20px;
    color:white;
    text-decoration: none;
}

.logo, .title {
    cursor: pointer;
}

header button {
    padding: 14px 32px;
    background-color:#E4EFEC;
    border:none;    
    color:var(--nav-bar-color);
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

#battleBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 50px auto;
    position: relative;
}

.battleBar {
    height: 70px;
    width: 700px;
    background-color: #E1454B;
    margin: auto 50px;
    border-radius: 25px;
}

#labelsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#labelsContainer>p {
    font-size: 25px;
    color: #424429;
    font-weight: bold;
    max-width: 700px;
    margin: 15px 200px 0px 200px;
}

#labelsContainer>p.naughty {
    float: left;
}

#labelsContainer>p.nice {
    float: right;
}

#todoListContainer>p, #wishlistContainer>p {
    font-size: 25px;
    color: #424429;
    font-weight: bold;
    max-width: 700px;
}

#bottomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    align-items: start;
    background-color: #ECDCD4;
    margin-bottom: 25px;
}

#bottomContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.todoListBox {
    height: 70px;
    width: 400px;
    background-color: #E1454B;
    border-radius: 25px;
    margin-bottom: 1%;
}

.wishlistBox {
    height: 400px;
    width: 400px;
    background-color: #E1454B;
    border-radius: 25px;
}