.tinderGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5%;
}

.returnButton {
    display: flex;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    width: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    left: 50px;

    border-radius: 5px;
    border:1px solid darkgrey;
}

.returnButton:hover{
    border:1px solid black;  
    cursor: pointer;
    transform: scale(1.02);
   }

.tinderGame h1{
    text-align: center;
    font-size: 3em;
}
.cardStack {
    height: 50vh;
    width:  max(40vw, 300px);
}
.toyCard {
    height: max(50vh);
    position: absolute;
    width: max(40vw, 300px);
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toyCard h1 {
    font-size: max(2vw, 1.5em);
    color:black;
    text-align: center;
    container-name: toyName;
    margin-left: 15px;
    margin-right: 15px;
}

.toyCard img {
    border-radius: 10px;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.difficultySlider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3em;
    width:max(40vw, 300px);
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}

.color1{
    filter: invert(60%) sepia(43%) saturate(6626%) hue-rotate(94deg) brightness(104%) contrast(106%);
}

.color2{
    filter: invert(71%) sepia(29%) saturate(1877%) hue-rotate(11deg) brightness(109%) contrast(96%);
}

.color3{
    filter: invert(15%) sepia(89%) saturate(6075%) hue-rotate(6deg) brightness(101%) contrast(98%)
}

.imageContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: auto;
    width: 90%;
    height: 100px;
    background-color: white;
}

.cardDragContainer {
    height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.decisionSquare {
    flex-grow: 1;
    height:100%;
    border-radius: 50px;
}

.buttonInterface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.buttonInterface button {
    border-radius: 10px;
    font-size: 1.5em;
    height: 3em;
    width: 25%;
    border: 3px outset rgba(0,0,0,0.5);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    transition: all 0.05s ease-in-out;
}

.buttonInterface button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.buttonInterface button:active {
    transform: scale(0.98);
    box-shadow: 4px 4px 6px 5px rgba(0,0,0,0.5) inset;
}

.acceptButton{
    background-color: green;
}

.refuseButton{
    background-color: red;
}

.buttonInterface .refuseButton img{
    max-height: 70%;
    margin-top: 3px;
}

.buttonInterface img{
    max-width: 100%;
    max-height: 80%;
    align-self: center;
    filter: invert(97%) sepia(92%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(101%);
}