:root{
    --border-width:10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    grid-auto-rows: 1fr;
    gap:30px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.category {
    background-color: white;
    width: 280px;
    padding: 20px 10px;
    font-size: 24px;   
    color: #424429;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

    font-weight: bold;
}

.selected {
    border: var(--border-width) solid var(--task-color);
}

.selected:hover, .not_selected:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.not_selected {
    border: var(--border-width) solid var(--nav-bar-color);
}