:root {
    --task-color: #9FA797; /* TODO : weird color */
    --unchecked-color: #585b57;
    --checked-color: #f1faee;
}


.task {
    display:flex;    
    gap: 10px;

    font-size:20px; /* TODO: needs global var */
    background-color: var(--task-color);
    border-radius: 15px;
    padding:10px;
    font-weight: 500;
    align-items: center;
    margin: 0px 0;
    font-size: 24px;
    font-family: Lato, sans-serif;
    color: var(--unchecked-color);
    cursor: pointer;
    justify-content: space-between;    
}

.img {
  height: 20px;
  width: 20px;
}