.settings_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px;
    /* background-color: none; */
}

.button {
    border-radius: 20px;
    /* border: 2px solid #9EBB5E; */
    font-weight: bold;
    font-size: 24px;
    padding: 7px;
    cursor: pointer;
    /* background-color: #C5C99F; */
}

.returnButton {
    
    align-items: left;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    width: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 10px;
    border-radius: 5px;
    border:1px solid darkgrey;
  }

  
.returnButton:hover{
    border:1px solid black;  
    cursor: pointer;
    transform: scale(1.02);
}