.countDownDiv {
    font-size:30px;
    font-weight: bold;
    color: #424429;
    display: inline-flex;
    background-color: #C5C99F;
    padding: 15px;
    border-radius: 15px;;
    width: auto;
}

.timerTitle {
    font-size:30px;
    font-weight: bold;
    color: #424429;
}

.battleBarContainer {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    position: relative;
}

.battleBar {
    height: 70px;
    width: 700px;
    margin: auto;
    border-radius: 28px;
    border: 3px solid #424429;
    position: relative;
}

#labelsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#labelsContainer>p {
    font-size: 25px;
    color: #424429;
    font-weight: bold;
    max-width: 700px;
    margin: 15px 200px 0px 200px;
}

#labelsContainer>p.naughty {
    float: left;
}

#labelsContainer>p.nice {
    float: right;
}