.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    grid-row-gap: 50px;
}

.battlepass_container {
    grid-area : 1 / 1 / 2 / 3;
}

.toys_container {
    width:300px;
    height:300px;
    background-color: #8A914A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    color: #424429;
}

.button_container {
    padding-top:10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 20px;
    /* border: 2px solid #9EBB5E; */
    font-weight: bold;
    font-size: 24px;
    padding: 7px;
    cursor: pointer;
    background-color: #C5C99F;
}

.tasklistContainer, .wishlistContainer {
    padding: 25px 10%;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    align-items: flex-start;
    background-color: #ECDCD4;
    margin-bottom: 25px;
    min-width: 100%;
}

.pattern, .patternProjected {
    height: 70px;
    margin: auto;
    border-radius: 25px 0px 0px 25px;
    position:absolute;
    object-fit: cover;
}

.pattern {
    z-index: 2;
}

.patternProjected {
    z-index: 1;
}