.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap:50px;
}

.battlepass_container {
    grid-area : 1 / 1 / 2 / 3;
}

.toys_container {    
    width:300px;
    height:300px;
    background-color: grey;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    font-size:26px;
    font-weight: bold;
    padding-bottom: 10px;;
}

.button_container {
    padding-top:10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 24px;    
    cursor: pointer;
}
