.container {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/img/feuillespin.jpg');
    background-size: contain;
    height: 100%;
    width:100%;
    image-resolution: 50dpi;
    overflow: hidden;
    position: fixed;
}

.battlepass_container {
    grid-area : 1 / 1 / 2 / 3;
}

.toys_container {
    display: flex;
    justify-content: center;
    width:400px;
    padding: 10px;
    background-color: #8A914A;
    border-radius: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 70px);
    background-color: none;
    max-height:190px;
    overflow: auto;
}

.title {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    color: #424429;
}

.button_container {
    padding-top:10px;
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    padding: 7px;
    cursor: pointer;
    background-color: #C5C99F;
}

.tasklistContainer, .wishlistContainer {
    margin: 0px 10%;
    padding: 10px;
    background-color: #F2F0EE;
    background: none;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    margin-bottom: 25px;
    min-width: 100%;
}

.pattern, .patternProjected {
    position: absolute;
    height: 70px;
    margin: auto;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
    transition: 0.8s ease;
}

.patternDone, .patternProjectedDone {
    border-radius: 25px !important;
    position: absolute;
    height: 70px;
    margin: auto;
    object-fit: cover;
    transition: 0.8s ease;
}

.pattern {
    z-index: 2;
}

.patternProjected {
    z-index: 1;
}

.countdownContainer {
    margin: 30px;
    margin-left: 10%;
}

.progress_relative {
    position: relative;
}

.image_abs {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 50;
    transform: translate(0%, 7%);
    border-radius: 20px;
}

.image_abs:hover {
    background-color: gold;
    color:gold;
    box-shadow: 0 0 100px gold;
    transform: scale(1.1) translate(0%, 10%);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;  
}

.image_gain {
    background-color: gold;
    color:gold;
    box-shadow: 0 0 100px gold;
    transform: scale(1.1) translate(0%, 10%);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;  
}