

.returnButton {
    display: flex;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50px;
    text-decoration: none;
    position: absolute;
    top: -80px;
    left: 50px;
    width:auto;
    color: #424429;

    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    padding: 7px;
    cursor: pointer;
    background-color: #C5C99F;
}

.returnButton:hover{
    border:1px solid black;  
    cursor: pointer;
    transform: scale(1.02);
}

.task_container {        
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    position: relative;
}

.taskBlockContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start !important;
    position: relative;
    margin-top: 60px; 
}

.task_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 70px;
    margin-right: 70px;           
    caret-color: transparent;
}

.add_task {
    width:360px;
    display: flex;
    justify-content: flex-start;
    caret-color: transparent;
}

.add_task > * {
    font-size: var(--task-font-size);    
}

.add_task_button {                    
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    caret-color: transparent;  
    background-color: #C5C99F;          
    cursor:pointer;
    user-select: none;
    color: #424429;
    flex: 1 1 20px; 
    
}
.input {    
    padding: 10px;
    width:200px;
    flex: 0 2 340px; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    border:none;    
    background-color: #C5C99F;
    caret-color: #424429;   
}

.textarea:focus, .input:focus{
    outline: none;
}


::placeholder {
    color: #424429;
}

.treePattern {
    max-width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    /* image-resolution: 1dpi; */
}

.countDownForm {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    background-color: #C5C99F;
    padding: 8px;
    border-radius: 15px;
}

.day, .month {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    font-weight: medium;
    font-size: 24px;
    color: #424429;
}

.countDownForm>button {
    border-radius: 20px;
    font-weight: medium;
    font-size: 24px;
    padding: 7px;
    cursor: pointer;
    color: #424429;
}

.formTitle {
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #424429;
}