.container {
    background-image: url('../assets/img/houx.jpg');
    background-size: contain;
    height: 100%;
    width:100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -2;
    image-resolution: 150dpi;

}

.bloc {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    gap:5px;
    padding:10px;
    background-color: #F2F0EE;
    border-radius: 15px;
    background: none;
    text-align: center;

}

.feature {
    padding: 12px;    
    border-radius: 20px;
    background-color:#8A914A; /* TODO: change Color */
    font-weight:bold;
    font-size: 20px;
    color: white;
    /* color:black; */
    text-decoration: none;        
    width:200px;
    text-align: center;
}

.feature:hover {
    border:3px solid lightgray;  
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;  
}

.pageTile {
    font-weight: bolder;
    font-size: 33px;
    color:#424429;
}