.task_container {        
    padding-top:3%;    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, max-content));  
    justify-content: center;     
    gap : 2rem;    
    caret-color: transparent;
}

.task_block {
    display: flex;
    flex-direction: column;
    gap: 10px;            
    caret-color: transparent;
}

.add_task {
    width:360px;
    display: flex;
    caret-color: transparent;
}

.add_task > * {
    font-size: var(--task-font-size);    
}

.add_task_button {                    
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    caret-color: transparent;  
    background-color: #C5C99F;          
    cursor:pointer;
    user-select: none;
    color: #424429;
}

.input {    
    padding: 10px;
    flex: 1 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    border:none;    
    background-color: #C5C99F;
    caret-color: #424429;    
}

::placeholder {
    color: #424429;
}